.current-stock-calc-height {
  /* height: calc(100vh - 209px); */
  height: 720px;
}

@media (min-width: 1600.98px) {
  .current-stock-bg {
    width: 1000px;
  }
  .w-xl-1000 {
    width: 1000px;
  }
}
.h-calc-100vh-380 {
  height: calc(100vh - 380px);
}
@media (max-width: 1280.98px) {
  .current-stock-block {
    display: block !important;
  }
}
