.services-btn {
  background-color: #4870b3;
  color: white;
  border: 1px solid #4870b3;
  border-radius: 3px;
  font-weight: 500;
  transition: 0.4s;
}
.services-btn-active {
  background-color: white;
  color: #4870b3;
  border-radius: 3px;
  border: 1px solid #4870b3;

  font-weight: 500;
  transition: 0.4s;
}
.other-services {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 3px;
}
.edit-button {
  background-color: #66cc75;
  border: 1px solid #66cc75;
  border-radius: 3px;
  font-weight: 500;
  transition: 0.4s;
  color: white;
}
.add-button {
  background-color: #66cc75;
  color: white;
  border: 1px solid #66cc75;
  border-radius: 3px;
  font-weight: 500;
  transition: 0.4s;
}
.add-button:hover {
  background-color: white;
  color: #66cc75;
}
.edit-button:hover {
  background-color: white;
  color: #66cc75;
}
.delete-button {
  background-color: red;
  border: 1px solid red;
  border-radius: 3px;
  font-weight: 500;
  transition: 0.4s;
  color: white;
}
.delete-button:hover {
  background-color: white;
  color: red;
}
.other-services-text {
  font-size: 30px;
  font-weight: 500;
  color: black;
}
@media (max-width: 1800px) {
  .other-services-text {
    font-size: 19px;
  }
}
.input-tag .react-tag-input {
  padding: 11px;
  border: 1px solid rgba(22, 25, 30, 0.2);
}
.input-tag .react-tag-input__input::placeholder {
  font-size: 16px;
  color: #16191e !important;
}
.table-text {
  font-weight: 500;
  color: black;
}
