:root {
  /** Color use in all projects */
  --color-127CF9: #5cbd4c;
  --color-88BEFC: #4870b3;
  --color-B8D8FD: #ffffff;
  --color-f9f9f9: #f9f9f9;
  --color-44464A: #44464a;
  --color-16191e: #16191e;
  --color-E4E4E4: #e4e4e4;
  --color-45474b: #45474b;
  --color-D0D1D2: #d0d1d2;
  --color-ffffff: #ffffff;
  --color-707070: #707070;
  --color-cbcccd: #cbcccd;
  --color-16191e_08: #44474b;
  --color-44474b_08: #44474b;
  --color-5B5E61: #5b5e61;
  --color-16191e_07: #5b5d61;
  --color-16191e33: #16191e33;
  --color-16191eb7: #16191eb7;

  /** Font size use in all projects */
  --font-xxxl: 62px;
  --font-xxl: 49px;
  --font-48: 48px;
  --font-xl: 39px;
  --font-lg: 31px;
  --font-md: 25px;
  --font-22: 22px;
  --font-24: 24px;
  --font-35: 35px;
  --font-21: 21px;
  --font-28: 28px;
  --font-sm: 20px;
  --font-xs: 16px;
  --font-18: 18px;
  --font-15: 15px;
  --font-xxs: 14px;
  --font-13: 13px;
  --font-12: 12px;
  --font-11: 11px;
  --font-9: 9px;
}

.navbar_Links_text {
  color: var(--color-16191e);
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7;
  text-decoration: none;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .navbar_Links_text {
    font-size: 15px;
  }
}

/* input hover classs */

.active_underline_navbar {
  border-bottom: 3px solid var(--color-127CF9);
}

@media (max-width: 1200px) {
  .stock-sidebar-navbar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 310px;
    z-index: 30;
    background: var(--color-ffffff);
  }
  .nav-text-border-bottom {
    border-bottom: 1px solid var(--color-707070);
  }
  .h-sm-80 {
    height: 80px !important ;
  }
  .w-sm-80 {
    width: 80px !important ;
  }
}

@media (min-width: 1200px) {
  .border-bottom-2px {
    border-bottom: 2px solid var(--color-88BEFC);
  }
}

.join_now_btn {
  font-weight: 500;
  color: var(--color-ffffff) !important ;
  background-color: var(--color-88BEFC) !important;
}

.join_now_btn:hover {
  background-color: transparent !important;
  color: var(--color-88BEFC) !important ;
  border: 1px solid var(--color-88BEFC);
}

.position-absoulte {
  position: absolute;
}

.search-green-icon {
  background-color: var(--color-127CF9);
  border-radius: 5px;
  padding: 0.6rem;
}

.top-10 {
  top: 1px !important;
}
.left-20 {
  left: 15px;
}

.search-box-nav {
  background-color: #ffff;
  border-radius: 5px;
  border: 1px solid rgba(22, 25, 30, 0.2);
}

.left-80 {
  left: 80px;
}

@media (max-width: 374px) {
  .left-374-61 {
    left: 61px;
  }
}

.stock-dashboard-dropdown button:after {
  display: none !important;
}
.stock-dashboard-dropdown button {
  color: var(--color-16191e);
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7 !important;
  text-decoration: none;
  border: 0;
  padding: 0.375rem 0 !important;
  background-color: transparent !important;
}
.stock-dashboard-dropdown button:hover {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}
.stock-dashboard-dropdown button.btn-primary:focus {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}

.profile-box-name {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(0, 4, 255, 0.534);
}
.profile-box-name span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.lang-dropddown a {
  color: var(--color-16191e);
  opacity: 0.7;
  text-decoration: none;
}
.lang-dropddown li {
  list-style: none;
}
.flag-img {
  width: 30px;
  height: 30px;
}
.top-72 {
  top: 72px;
}
.lang-dropddown:hover svg path {
  stroke: var(--color-88BEFC);
}

.bg-green-circle {
  background-color: #5cbd4c;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.first-char {
  font-size: 16px;
  color: var(--color-ffffff);
  font-weight: 500;
}

.over-lay-navbar {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}
