:root {
  /** Color use in all projects */
  --color-127CF9: #5cbd4c;
  --color-88BEFC: #4870b3;
  --color-B8D8FD: #ffffff;
  --color-f9f9f9: #f9f9f9;
  --color-44464A: #44464a;
  --color-16191e: #16191e;
  --color-E4E4E4: #e4e4e4;
  --color-45474b: #45474b;
  --color-D0D1D2: #d0d1d2;
  --color-ffffff: #ffffff;
  --color-707070: #707070;
  --color-cbcccd: #cbcccd;
  --color-16191e_08: #44474b;
  --color-44474b_08: #44474b;
  --color-5B5E61: #5b5e61;
  --color-16191e_07: #5b5d61;
  --color-16191e33: #16191e33;
  --color-16191eb7: #16191eb7;

  /** Font size use in all projects */
  --font-xxxl: 62px;
  --font-xxl: 49px;
  --font-48: 48px;
  --font-xl: 39px;
  --font-lg: 31px;
  --font-md: 25px;
  --font-22: 22px;
  --font-24: 24px;
  --font-35: 35px;
  --font-21: 21px;
  --font-28: 28px;
  --font-sm: 20px;
  --font-xs: 16px;
  --font-18: 18px;
  --font-15: 15px;
  --font-xxs: 14px;
  --font-13: 13px;
  --font-12: 12px;
  --font-11: 11px;
  --font-9: 9px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .navbar_Links_text {
    font-size: 15px;
  }
}

/* input hover classs */

.active_underline_navbar {
  border-bottom: 3px solid var(--color-127CF9);
}

@media (max-width: 1400px) {
  .stock-sidebar-navbar {
    min-height: 100vh;
    position: fixed;
    top: 0;
    width: 310px;
    z-index: 30;
    background: var(--color-ffffff);
  }

  .active_underline_navbar {
    background-color: var(--color-127CF9);
    color: var(--color-ffffff) !important;
  }

  .nav-text-border-bottom {
    border-bottom: 1px solid var(--color-707070);
  }

  .h-sm-80 {
    height: 80px !important;
  }

  .w-sm-80 {
    width: 80px !important;
  }

  .navbar_Links_text {
    color: var(--color-16191e);
    font-size: 16px;
    font-weight: normal;

    text-decoration: none;
  }
}

@media (min-width: 1400px) {
  .border-bottom-2px {
    border-bottom: 2px solid var(--color-88BEFC);
  }

  .navbar_Links_text {
    color: var(--color-16191e);
    font-size: 16px;
    font-weight: normal;
    opacity: 0.7;
    text-decoration: none;
  }

  .navbar-fixed-stock {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    margin-bottom: 10px;
  }
}
.navbar-fixed-stock {
  z-index: 200 !important;
}
.notify-dot {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 12px;
  right: 3px;
  font-size: 10px;
  border-radius: 50%;
  background-color: #4870b3;
}
.notify-dot2 {
  height: 13px;
  width: 13px;
  position: absolute;
  top: 4px;
  right: 3px;
  font-size: 10px;
  border-radius: 50%;
  background-color: #4870b3;
}
.notification-text {
  color: #545454;
}
.notify-time {
  font-size: var(--font-12);
  width: 80px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.notify-user-name {
  font-size: var(--font-15);
  width: 300px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification-dropdown .dropdown-menu {
  height: calc(100vh - 875px);
  overflow: auto;
}
.notification-dropdown-item .dropdown-item:active {
  background-color: white !important;
}
.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.join_now_btn {
  font-weight: 500;
  color: var(--color-ffffff) !important;
  border: 1px solid var(--color-127CF9);
  background-color: var(--color-127CF9) !important;
}

.log_in_btn {
  font-weight: 500;
  color: var(--color-ffffff) !important;
  background-color: var(--color-88BEFC) !important;
}

.log_in_btn:hover {
  color: var(--color-88BEFC) !important;
  border: 1px solid var(--color-88BEFC);
  background-color: white !important;
}

.join_now_btn:hover {
  background-color: transparent !important;
  color: var(--color-127CF9) !important;
  border: 1px solid var(--color-127CF9);
}

.position-absoulte {
  position: absolute;
}

.search-green-icon {
  background-color: var(--color-127CF9);
  border-radius: 5px;
  padding: 0.5rem;
}

.top-10 {
  top: 1px !important;
}

.left-20 {
  left: 15px;
}

.search-box-nav {
  background-color: #ffff;
  border-radius: 5px;
  border: 1px solid rgba(22, 25, 30, 0.2);
}

.left-80 {
  left: 80px;
}

@media (max-width: 374px) {
  .left-374-61 {
    left: 61px;
  }
}

.stock-dashboard-dropdown button:after {
  display: none !important;
}

.stock-dashboard-dropdown button {
  color: var(--color-16191e);
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7 !important;
  text-decoration: none;
  border: 0;
  padding: 0.375rem 0 !important;
  background-color: transparent !important;
}

.stock-dashboard-dropdown button:hover {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}

.stock-dashboard-dropdown button.btn-primary:focus {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}

.profile-box-name {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: rgba(0, 4, 255, 0.534);
}

.profile-box-name span {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.lang-dropddown a {
  color: var(--color-16191e);
  opacity: 0.7;
  text-decoration: none;
}

.lang-dropddown li {
  list-style: none;
}
.notification-dropdown button:after {
  display: none !important;
}

.notification-dropdown button {
  color: var(--color-16191e);
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7 !important;
  text-decoration: none;
  border: 0;
  padding: 0.375rem 0 !important;
  background-color: transparent !important;
}

.notification-dropdown button:hover {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}

.notification-dropdown button.btn-primary:focus {
  color: var(--color-16191e) !important;
  opacity: 0.7 !important;
}
.notification-dropdown .dropdown-menu {
  min-width: 17rem;
  /* inset: 0px 0px auto auto !important; */
}
.flag-img {
  width: 30px;
  height: 30px;
}

.top-72 {
  top: 72px;
}

.lang-dropddown:hover svg path {
  stroke: var(--color-88BEFC);
}

.bg-green-circle {
  background-color: #5cbd4c;
  height: 40px;
  width: 40px;
  border: 1px solid #5cbd4c;
  border-radius: 50%;
  text-align: center;
}

.bg-green-circle:hover {
  background-color: white;
}

.bg-green-circle:hover .first-char {
  color: #5cbd4c;
}

.first-char {
  font-size: 16px;
  color: var(--color-ffffff);
  font-weight: 500;
}

@media (max-width: 1400px) {
  .over-lay-navbar {
    opacity: 0.5;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
  }

  .navbar-fixed-stock {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
}

.notification-icon:hover svg path {
  stroke: var(--color-88BEFC);
}
.cross-icon-style {
  background-color: var(--color-88BEFC);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  height: 15px !important;
  display: block;
  font-size: 10px;
  color: var(--color-ffffff);
  width: 15px !important;
}

.dashboard-accordian {
  background-color: var(--color-127CF9);
  border: none;
  font-size: 16px;
  color: var(--color-ffffff);
}

.bg-accordian {
  background-color: var(--color-127CF9) !important;
}

@media (max-width: 768px) {
  .w-72 {
    width: 100px;
  }

  .h-36 {
    height: 50px;
  }
}

/* accordian css */

.card-header {
  cursor: pointer;
  background-color: transparent !important;
}

.card-header.active {
  background-color: #5cbd4c !important;
  color: white;
}

.card-body-Lang {
  background-color: #e4e4e4;
}

.lang-accor-text {
  color: #16191e;
  font-size: 16px;
}

.langu-accordian .card-header {
  border-bottom: 1px solid var(--color-707070) !important;
  padding: unset !important;
}

.dash-accordian .card-header {
  border-bottom: 1px solid var(--color-707070) !important;
  padding: unset !important;
}

.dash-body-accord {
  background-color: #e4e4e4;
}

/* @media (max-width: 1400px) {
  .MuiPaper-elevation {
    display: none;
  }
}

.MuiPaper-elevation {
  top: 80px !important;
} */

body {
  padding-right: 0px !important;
  overflow: unset !important;
}
