.slick-dots li button:before {
  /* font-family: 'slick'; */
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 4px;
  display: none;
  border-radius: 5px;
  content: "" !important;
  background-color: #c4c4c4 !important;
  text-align: center;

  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li {
  margin: 0 20px;
}
.slick-dots li.slick-active button:before {
  /* font-family: 'slick'; */
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;

  width: 40px;
  border-radius: 5px;

  height: 4px;
  content: "" !important;
  background-color: #ea5b32 !important;
  text-align: center;
  opacity: 1;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: white;
  border-radius: 50%;
  background-position: center;
  height: 30px;
  width: 28px;
}

.slick-next {
  width: 25px;
}

.slick-prev {
  width: 28px;
}

.slick-next:hover {
  color: transparent;
  outline: none;
  background: white;
  border-radius: 50%;
  height: 30px;
  width: 25px;
}

.slick-next:before {
  background-image: url("../../assets/svg/previousarrow.svg");
  background-repeat: no-repeat;
  color: transparent !important ;

  background-position: center !important ;
}
.slick-prev::before {
  background-image: url("../../assets/svg/nextArrow.svg");
  background-repeat: no-repeat;
  color: transparent !important ;

  background-position: center;
}
