.related-articles-img {
  width: 449px;
  height: 315px;
}

@media (min-width: 1199.98px) {
  .max-w-546 {
    max-width: 546px;
  }
}

@media (max-width: 375.98px) {
  .profile-box {
    padding: 7px;
  }
  .profile-box-2 {
    width: 303px;
    border-radius: 10px;
    padding: 0px;
    background: #fff;
    box-shadow: unset;
  }
  .h-xs-171 {
    height: 171px;
  }
}
.articles-card {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000000d;
  border-radius: 10px;
  width: 449px;
  height: 435px;
}

@media (min-width: 1599.98px) {
  .max-w-articles {
    max-width: 397px;
  }
}
@media (max-width: 1599.98px) {
  .articles-card {
    width: 350px;
  }
  .related-articles-img {
    width: 350px;
  }
}
