.payment-page-amount {
  font-size: var(--font-md);
  font-weight: 600;
  color: var(--color-88BEFC);
}

.payment-page-amount-promo {
  font-size: var(--font-15);
  font-weight: 600;
  color: var(--color-127CF9);
}
.payment-border {
  border-bottom: 1px solid var(--color-16191e33);
}
.fs-xs {
  font-size: var(--font-xs);
}
.fw-500 {
  font-weight: 500;
}
.list-style {
  list-style: none;
}
.monthly-payment {
  height: 50px;
  width: 324px;
  border: 1px solid;
  border: 1px solid #16191e33;
  border-radius: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.select-plan-payment {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000000d;
  border-radius: 10px;
  opacity: 1;
  /* width: 781px; */
}
.mr-15 {
  margin-right: 15px;
}
.payment-checkbox {
  height: 16px;
  width: 16px;
  margin-right: 10px;
  border: 2px solid var(--color-16191e33);
  border-radius: 3px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.form-input-payment {
  width: 481px;
  height: 50px;
  border: 1px solid var(--color-16191e33);
  border-radius: 5px;
  background: #ffffff 0% 0% no-repeat padding-box;
}
.form-input-payment input {
  width: 470px;
  height: 40px;
  padding-right: 20px;
}
.paypal {
  width: 481px;
}
.visa-paypal {
  box-shadow: 0px 5px 15px #0000000d;
  border-radius: 5px;
  width: 231px;
  height: 116px;
}

input:focus-visible {
  outline: unset;
}
.card-payment {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  width: 578px;
}

@media (min-width: 1600px) {
  .max-w-1400 {
    max-width: 1400px;
  }
}
@media (max-width: 1599.98px) {
  /* .select-plan-payment {
    width: 700px;
  } */
  .w-xlg-100 {
    width: 100%;
  }
  .card-payment {
    width: 500px;
  }
  .form-input-payment {
    width: 400px;
  }
  .form-input-payment input {
    width: 390px;
  }
  .paypal {
    width: 371px;
  }
  .visa-paypal {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1399.98px) {
  /* .select-plan-payment {
    width: 600px;
  } */
  .card-payment {
    width: 450px;
  }
  .form-input-payment {
    width: 300px;
  }
  .form-input-payment input {
    width: 290px;
  }
  .paypal {
    width: 293px;
  }
}

@media (max-width: 1199.98px) {
  /* .select-plan-payment {
    width: 500px;
  } */
  .card-payment {
    width: 390px;
  }
  .form-input-payment {
    width: 300px;
  }
  .form-input-payment input {
    width: 290px;
  }
}
@media (max-width: 991.98px) {
  .select-plan-payment {
    width: 100%;
  }
  .card-payment {
    width: 100%;
  }
  .form-input-payment {
    width: 100%;
  }
  .form-input-payment input {
    width: 100%;
    padding-left: 20px;
    height: 20px;
  }
  .paypal {
    width: 100%;
  }
  .visa-paypal {
    width: 213px;
    height: 116px;
  }
}
@media (max-width: 575.98px) {
  .fs-sm-20 {
    font-size: var(--font-sm);
  }
  .payment-page-amount {
    font-weight: 600;
    font-size: var(--font-xs);
  }
  .fs-sm-16 {
    font-size: var(--font-xs);
  }
  .fs-sm-18 {
    font-size: var(--font-18) !important;
  }
  .fs-sm-14 {
    font-size: var(--font-xxs);
  }
  .fs-sm-12 {
    font-size: var(--font-12);
  }
  .monthly-payment {
    width: 171px;
    height: 30px;
  }
  .visa-paypal {
    width: 150px;
    height: 70px;
  }
}
@media (max-width: 375.98px) {
  .max-w-sm-263 {
    max-width: 263px;
  }
  .payment-checkbox {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }
  .form-input-payment {
    width: 253px;
    height: 26px;
  }
  .select-plan-payment {
    width: 303px;
  }
  .card-payment {
    width: 303px;
  }
  .monthly-payment {
    font-size: var(--font-xxs);
    font-weight: 400;
  }
  .paypal {
    width: 250px;
  }
  .visa-paypal {
    width: 115px;
    height: 61px;
  }
}
/* stripe form */
.payment-stripe-text {
  font-size: 31px;
  font-weight: 500;
}
.stripe-button {
  background-color: #4870b3;
  border-radius: 4px;
}

.FormGroup {
  border: 1px solid rgba(22, 25, 30, 0.2);
  padding: 10px 4px;
  border-radius: 5px;
}
