.manger-panel-shadow {
  padding-top: 40px;
  padding-bottom: 128px;
  padding-left: 49px;
  padding-right: 45px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
