:root {
  --color-16191E-7: #16191ebd;
}
.contact-info {
  font-size: var(--font-22);
  font-weight: 500;
  color: var(--color-16191e);
}
.border-bottom-1px {
  border-bottom: 1px solid var(--color-16191e33);
}
.input-border {
  border-radius: 5px;
  border: 1px solid var(--color-16191e33);
}
.input-placeholder {
  font-size: var(--font-xs);
  font-weight: 400;
  color: var(--color-16191e);
}
.update-btn {
  padding: 11px 44px 10px 44px;
  border-radius: 4px;
  background-color: var(--color-88BEFC);
  color: var(--color-B8D8FD);
}
.color-4870B3 {
  color: var(--color-88BEFC) !important;
}
@media (max-width: 576px) {
  .update-btn {
    width: 100%;
  }
}
.panal-1 {
  box-shadow: 0px 0px 15px #0000000d;
}
.fs-16 {
  font-size: var(--font-xs);
}
.color-16191e {
  color: var(--color-59A3FB);
}
.color-16191E-7 {
  color: var(--color-16191E-7);
}
.fw-500 {
  font-weight: 500;
}
