:root {
  --color-16191E-7: #16191ebd;
}
body {
  background-color: var(--color-f9f9f9);
}
.boxx {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 15px #0000000d;
  border-radius: 10px;
}
.mw-1000 {
  max-width: 1000px !important;
}
.contact-info {
  font-size: var(--font-22);
  font-weight: 500;
  color: var(--color-16191e);
}
.border-bottom-1px {
  border-bottom: 1px solid var(--color-16191e33);
}
.input-border {
  border-radius: 5px;
  border: 1px solid var(--color-16191e33);
}
.input-placeholder {
  font-size: var(--font-xs);
  font-weight: 400;
  color: var(--color-16191e);
}
.update-btn {
  padding: 11px 44px 10px 44px;
  border-radius: 4px;
  background-color: var(--color-88BEFC);
  color: var(--color-B8D8FD);
  font-weight: 500;
  font-size: var(--font-18);
}
.color-4870B3 {
  color: var(--color-88BEFC) !important;
}
.cancel-subscription {
  padding: 11px 33px 10px 33px;
  color: var(--color-B8D8FD);
  background-color: var(--color-88BEFC);
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--font-18);
}
.panal-1 {
  border-radius: 10px;
  box-shadow: 0px 0px 15px #0000000d;
}
.fs-16 {
  font-size: var(--font-xs);
}
.font {
  font-size: 16px;
}
.color-16191e {
  color: var(--color-59A3FB);
}
.color-16191E-7 {
  color: var(--color-16191E-7);
}
.fw-500 {
  font-weight: 500;
}
@media (max-width: 576px) {
  :root {
    --font-lg: 20px;
    --font-md: 16px;
    --font-22: 14px;
    --font-xs: 14px;
    --font-18: 16px;
  }
  .font {
    font-size: 11px;
  }
  .container {
    width: 95% !important;
  }
  .update-btn {
    width: 100%;
  }
  .cancel-subscription {
    width: 100%;
  }

  body {
    background-color: white;
  }
}
@media (min-width: 374px) and (max-width: 576px) {
  .container {
    width: 100% !important;
  }
  .panal-1 {
    width: 266px;
    margin: 0 auto;
  }
  .mx-266 {
    max-width: 266px;
    margin: 0 auto;
  }
  .box-2 {
    border-radius: 10px;
    box-shadow: 0px 0px 15px #0000000d;
  }
  .p-10-17 {
    padding: 10px 17px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  :root {
    --font-lg: 25px;
    --font-md: 18px;
    --font-22: 16px;
    --font-xs: 16px;
    --font-18: 18px;
  }
}
.switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 46px;
  border: 1 px solid black;
}

.switch input {
  display: none;
}

.slider {
  border: 1px solid var(--color-127CF9) !important;
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: var(--color-127CF9);
  bottom: 1px;
  content: "";
  height: 22px;
  left: 2px;
  position: absolute;
  transition: 0.4s;
  width: 22px;
}

input:checked + .slider {
  background-color: var(--color-B8D8FD);
  border: 1px solid var(--color-127CF9) !important;
}

input:checked + .slider:before {
  transform: translateX(19px);
}

.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}
.bg-161933 {
  background-color: var(--color-16191e33);
}
