@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.ff-popins {
  font-family: "Poppins", sans-serif;
}

.form-background {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: white;
}
.h-100vh {
  height: 100vh;
}
.form-section {
  max-width: 481px;
}
.edit-contact-text {
  font-size: 31px;
  font-weight: 500;
  color: #16191e;
}
@media (max-width: 567px) {
  .edit-contact-text {
    font-size: 24px;
  }
}
.form-field .form-control {
  padding: 13px;
  border: 1px solid rgba(22, 25, 30, 0.2);
}
.form-field .form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent;
}
.form-field .form-control::placeholder {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #16191e;
}
.update-btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #4870b3;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 9.5px 37px;
  border: 1px solid var(--color-88BEFC);
}
.update-btn:hover {
  background-color: white;
  color: var(--color-88BEFC);
  border: 1px solid var(--color-88BEFC);
}
.update-btn-2 {
  font-size: 18px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
  background-color: #4870b3;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  padding: 9.5px 37px;
  border: 1px solid var(--color-88BEFC);
}
.update-btn-2:hover {
  background-color: white;
  color: var(--color-88BEFC);
  border: 1px solid var(--color-88BEFC);
}
.cancel-btn {
  border: 1px solid var(--color-88BEFC);
  padding: 9.5px 37px;
  background-color: white;
  font-size: 18px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  font-weight: 500;
  color: var(--color-88BEFC);
}
.cancel-btn:hover {
  background-color: #4870b3;
  color: white;
}
.green-chart .recharts-responsive-container {
  background-color: #f7fff5;
}
.blue-chart .recharts-responsive-container {
  background-color: #f5f9ff;
}
.netflix-chart {
  background: #16191e;
  border-radius: 10px;
}
.pich-chart .recharts-responsive-container {
  background-color: #fff5f7;
}
.chart-text {
  font-size: 26px;
  font-weight: 500;
}
.chart-text-2 {
  font-size: 26px;
  font-weight: 500;
}
.chart-btn {
  padding: 2px 12px;
  background-color: #4870b3;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}
@media (max-width: 992px) {
  .chart-btn {
    padding: 2px 8px;
    font-size: 10px;
  }
}
@media (max-width: 567px) {
  .chart-text {
    display: none;
  }
}
.chart-btn:hover {
  background-color: #5cbd4c;
  color: white;
}
