@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");

:root {
  /** Color use in all projects */
  --color-127CF9: #5cbd4c;
  --color-59A3FB: #16191e;
  --color-88BEFC: #4870b3;
  --color-B8D8FD: #ffffff;

  /** Font size use in all projects */
  --font-xxxl: 62px;
  --font-xxl: 49px;
  --font-xl: 39px;
  --font-lg: 31px;
  --font-md: 25px;
  --font-sm: 20px;
  --font-xs: 16px;
  --font-xxs: 14px;
}
