@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /** Color use in all projects */
  --color-127CF9: #5cbd4c;
  --color-59A3FB: #16191e;
  --color-88BEFC: #4870b3;
  --color-B8D8FD: #ffffff;
  --color-f9f9f9: #f9f9f9;
  --color-44464A: #44464a;
  --color-16191e: #16191e;
  --color-16191E: #16191e;
  --color-E4E4E4: #e4e4e4;
  --color-45474b: #45474b;
  --color-D0D1D2: #d0d1d2;
  --color-ffffff: #ffffff;
  --color-cbcccd: #cbcccd;
  --color-16191e_08: #44474b;
  --color-44474b_08: #44474b;
  --color-5B5E61: #5b5e61;
  --color-16191e_07: #5b5d61;
  --color-16191e33: #16191e33;
  --color-16191eb7: #16191eb7;

  /** Font size use in all projects */
  --font-xxxl: 62px;
  --font-xxl: 49px;
  --font-48: 48px;
  --font-xl: 39px;
  --font-lg: 31px;
  --font-md: 25px;
  --font-22: 22px;
  --font-24: 24px;
  --font-35: 35px;
  --font-21: 21px;
  --font-28: 28px;
  --font-sm: 20px;
  --font-xs: 16px;
  --font-18: 18px;
  --font-15: 15px;
  --font-xxs: 14px;
  --font-13: 13px;
  --font-12: 12px;
  --font-11: 11px;
  --font-9: 9px;
}

/* VERIFY EMAIL PAGE START*/
.height-100vh {
  height: 100vh;
}

.resend-email-btnn {
  background-color: var(--color-88BEFC);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--font-18);
  padding: 6px 0px;
  border: 2px solid var(--color-88BEFC) !important;
  transition: 0.3s;
}
.resend-email-btnn:hover {
  background-color: transparent;
  color: var(--color-88BEFC);
}
.form-control:disabled {
  background-color: #6c757d85 !important;
}
.log-outbtn:hover {
  background-color: transparent;
  color: var(--color-88BEFC);
}

.request-line {
  color: var(--color-88BEFC);
}

.email-verify-box {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 10px;
  background-color: white;
}

.orr {
  font-weight: 400;
}
/* VERIFY EMAIL PAGE END*/

/* OTP PAGE START  */
.input-border {
  resize: none;
}
.otp-box {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 10px;
  background-color: white;
}

.form-field .form-control:focus {
  border: 1px solid rgba(22, 25, 30, 0.2);
  box-shadow: none !important;
}
#form-font {
  font-size: var(--font-22);
}
.verify-otp {
  background-color: var(--color-127CF9);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--font-18);
  padding: 6px 0px;
  border: 2px solid var(--color-127CF9) !important;
  transition: 0.3s;
}

.verify-otp:hover {
  background-color: transparent;
  color: var(--color-127CF9);
}

.resend-otp {
  background-color: var(--color-88BEFC);
  color: white;
  border-radius: 4px;
  font-weight: 500;
  font-size: var(--font-18);
  padding: 6px 0px;
  border: 2px solid var(--color-88BEFC) !important;
  transition: 0.3s;
}

.resend-otp:hover {
  background-color: transparent;
  color: var(--color-88BEFC);
}

/* OTP PAGE END */

/*  ABOUT PAGE CSS */
#root {
  font-family: "Poppins", sans-serif;
}
.home-slider {
  height: 400px;
}
@media (max-width: 1200px) {
  .home-slider {
    height: 281px !important;
  }
}

/* UTILITY CSS */
.text-5CBD4C {
  color: var(--color-127CF9);
}

.bg-f9f9f9 {
  background: var(--color-f9f9f9);
}

.font-xl {
  font-size: var(--font-xl) !important;
}

.bg-6B8BC1 {
  background-color: #6b8bc1;
}

.mr-0 {
  margin-right: 0px !important;
}

.font-xs {
  font-size: var(--font-xs) !important;
}

.max-w-398 {
  max-width: 398px;
}

.max-w-665 {
  max-width: 665px;
}

.max-w-625 {
  max-width: 625px;
}

.w-126 {
  width: 126px;
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-not-allowed {
  cursor: not-allowed;
}

.stock-heading {
  font-weight: 600;
  font-size: var(--font-xxxl);
  line-height: 115%;
  color: var(--color-59A3FB);
}

.section-heading {
  font-weight: 500;
  font-size: var(--font-xl);
  color: var(--color-16191e);
}

.stock-paragraph {
  font-weight: 400;
  line-height: 165%;
  font-size: var(--font-xs);
  color: var(--color-44464A);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .slider-img {
    height: 365px !important;
    width: 500px !important;
  }
}
.slider-img {
  height: 300px;
  width: 100%;
}

@media (max-width: 567px) {
  .stock-paragraph {
    --font-xs: 14px;
  }
}

.min-h-100vh {
  min-height: 100vh;
}
.mt-100 {
  margin-top: 100px;
}
.default-btn {
  background: var(--color-127CF9);
  font-weight: 500;
  font-size: var(--font-18);
  color: #fff;
  border: none;
  padding: 9px 24px;
  border-radius: 4px;
  transition: 0.6s;
  border: 1px solid var(--color-127CF9);
}

@media (max-width: 567px) {
  .default-btn {
    --font-18: 14px;
  }
}

.h-19 {
  height: 19px;
}
.h-300 {
  height: 300px;
}
.w-19 {
  width: 19px;
}

.default-btn:hover {
  background-color: white;
  color: var(--color-127CF9);
}

.homePageSlider .slick-dots {
  bottom: 0px;
}

@media (min-width: 567px) {
  .about-slider .slick-dots {
    display: none !important;
  }
}

/* .about-slider .slick-dots li button:before {
   font-size: 14px !important; 
} */

.about-slider .slick-dots li.slick-active button:before {
  color: #5cbd4c;
  border: transparent;
}

.about-slider .slick-dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  padding: 0;
  border: 2px solid black;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #707070;

  text-indent: -9999px;
}
.about-slider-4 .slick-dots li {
  border: 2px solid #707070;
  border-radius: 50%;
}
.about-slider-4 .slick-dots li button::before {
  opacity: 0.75;
  font-size: 21px;
  left: -2px;
  color: transparent;
}
.about-slider-4 .slick-dots li.slick-active button:before {
  color: #5cbd4c !important;
}
.about-slider .slick-dots li.slick-active button {
  background-color: #5cbd4c;
  border: transparent;
}
/* slider */
.Slider-Ellipse {
  white-space: nowrap;
  max-width: 703px;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* @media (min-width: 1275px) {
  .about-slider-2 {
    display: block !important;
  }
} */

.about-slider-2 {
  display: flex;
  align-items: center;
  direction: ltr;
}

.profile-heading {
  font-weight: 500;
  font-size: var(--font-md);
  color: var(--color-16191e);
}

.profile-box {
  border-radius: 10px;
  /* padding: 16px;s */
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.profile-box-2 {
  border-radius: 10px;
  /* padding: 16px; */
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.fw-500 {
  font-weight: 500;
}

.heading-stock {
  font-size: var(--font-lg);
  font-weight: 500;
  color: var(--color-16191E);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 567px) {
  .heading-stock {
    --font-lg: 16px;
  }
}

.parargraph-stock {
  font-size: var(--font-xs);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media (max-width: 567px) {
  .parargraph-stock {
    --font-xs: 14px;
  }
}

.small-paragraph {
  font-size: var(--font-xxs);
  font-weight: 400;
  color: var(--color-44464A);
}

@media (max-width: 567px) {
  .small-paragraph {
    --font-xxs: 11px;
  }
}

.about-slider .slick-slide {
  padding-right: 10px;
  padding-left: 10px;
}

.homePageSlider .slick-dots {
  display: flex !important;
}

.homePageSlider .slick-dots button {
  width: 23px;
  height: 4px;
  border-radius: 2px;
  background: #b8b9bb;
  padding: 0 !important;
  transition: 0.2s all;
  position: relative;
}

.homePageSlider .slick-dots button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #5cbd4c;
  opacity: 1;
  z-index: 2;
  border-radius: 2px;
  transition: 0.2s ease-out;
}

.homePageSlider .slick-dots .slick-active button:after {
  width: 100%;
}

.dots {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.homePageSlider .slick-dots button:before {
  font-family: "" !important;
  font-size: 0 !important;
  color: transparent !important;
}

.next,
.prev {
  border-radius: 5px;
  background: #fff;
  min-width: 27px !important;
  border: none;
  height: 50px !important;
  transform-origin: center !important;
}

.next svg {
  transform: rotate(180deg);
  transform-origin: center !important;
}

.next:hover,
.prev:hover {
  background: #5cbd4c;
}

.next:hover svg path,
.prev:hover svg path {
  stroke: white !important;
}

.news-heading-font {
  font-weight: 500;
  font-size: var(--font-22);
  color: var(--color-16191e);
}

@media (max-width: 567px) {
  .news-heading-font {
    --font-22: 16px;
  }
}

.hover-anim {
  transition: 0.3s ease-in-out;
}

.hover-anim:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}

.down-animation {
  transition: 0.2s ease-in-out;
}

.down-animation:hover {
  transform: translateY(-15px);
}

.arrow-none input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.text-decoration {
  text-decoration: none;
}

@media (min-width: 1600.99px) {
  .container {
    max-width: 1440px !important;
  }

  .h-341 {
    height: 271px;
  }

  .w-lg-518 {
    width: 518px;
  }

  .mr-lg-30 {
    margin-right: 30px !important;
  }
}

@media (max-width: 767.98px) {
  .fs-lg-35 {
    font-size: var(--font-35);
  }
}

@media (max-width: 575.98px) {
  .fs-xs-19 {
    font-size: 19px;
  }

  .w-xs-95 {
    width: 95px;
  }

  .prev {
    display: none !important;
    display: block !important;
  }

  .team-img {
    width: 75px;
    height: 75px;
  }

  .fs-sm-28 {
    font-size: var(--font-28) !important;
  }

  .fs-sm-22 {
    font-size: var(--font-22);
  }

  .dots-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
  }

  .email-para {
    font-size: var(--font-xxs) !important;
  }

  .sub-text {
    font-size: var(--font-xxs) !important;
  }
}

.bg-16191e {
  color: var(--color-16191e);
}

.edit-label {
  color: var(--color-44474b_08);
  font-size: var(--font-xxs);
}

.payment-thead {
  font-weight: 500;
  font-size: var(--font-xs);
  color: var(--color-16191e);
}

.tb-text {
  font-size: var(--font-xs);
  font-weight: normal;
  color: var(--color-16191e);
  opacity: 0.7;
}

.white-space-nowrap {
  white-space: nowrap;
}

@media (max-width: 576px) {
  .about-slider-4 .slick-next {
    display: none !important;
  }
  .about-slider-4 .slick-prev {
    display: none !important;
  }
}

.about-slider-english .slick-next {
  transform: rotate(180deg);
}

.about-slider-english .slick-prev {
  transform: rotate(180deg);
}

.about-slider-english .slick-prev:hover {
  height: unset !important;
  width: unset !important;
  background: unset !important;
}

.about-slider-english .slick-next:hover {
  height: unset !important;
  width: unset !important;
  background: unset !important;
}

.about-slider-4 .slick-dots {
  bottom: -37px !important;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fs-992-1200-19 {
    font-size: 19px;
  }
}

@media (min-width: 1264px) {
  .margin-top-1264px {
    margin-top: 3rem !important ;
  }
}

.d-none-el {
  display: none;
}
@media (min-width: 1266px) {
  .d-1297-flex {
    display: flex !important;
  }
}

.news-slider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease;
}

.news-slider-wrapper .news-wrapper-bottom-section {
  padding: 12px;
  width: 100%;
}

.text-ellipsis-three-line {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-dots {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-slider-wrapper:hover {
  transform: translateY(-20px);
  box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);
}

.hero-slider-2 .slick-prev::before {
  display: none !important;
}

.hero-slider-2 .slick-next::before {
  display: none !important;
}
@media (min-width: 576px) {
  .other_new_articles .slick-next {
    left: -32px !important;
  }
  .other_new_articles .slick-prev {
    right: -32px !important;
  }
  .other_new_articles .slick-prev {
    height: 93px !important;
    background-color: #5cbd4c;
    border-radius: 7px;
    width: 40px !important;
  }

  @media (min-width: 798px) and (max-width: 1200px) {
    .w-sm-lg-90 {
      width: 90px;
    }
    .other_new_articles .slick-next {
      height: 93px !important;
      background-color: #5cbd4c;
      border-radius: 7px;
      width: 40px !important;
    }
  }
  @media (max-width: 375px) {
    .other_new_articles .slick-next {
      left: -17px !important;
    }
    .other_new_articles .slick-prev {
      right: -17px !important;
    }
    .other_new_articles .slick-prev {
      height: 75px !important;
      background-color: #5cbd4c;
      border-radius: 7px;
      width: 33px !important;
    }

    .other_new_articles .slick-next {
      height: 75px !important;
      background-color: #5cbd4c;
      border-radius: 7px;
      width: 33px !important;
    }
  }
  .other_new_articles .slick-next {
    left: -5px;
  }
  .other_new_articles .slick-prev {
    right: -5px;
  }
  .other_new_articles .slick-prev {
    height: 50px;
    background-color: #5cbd4c;
    border-radius: 7px;
    width: 23px;
    z-index: 32;
  }
}
.other_new_articles .slick-next {
  left: -5px;
}
.other_new_articles .slick-prev {
  right: -5px;
}
.other_new_articles .slick-prev {
  height: 50px;
  background-color: #5cbd4c;
  border-radius: 7px;
  width: 23px;
  z-index: 32;
}

.other_new_articles .slick-next {
  height: 50px;
  background-color: #5cbd4c;
  border-radius: 7px;
  z-index: 32;
  width: 23px;
}

.right-10 {
  right: 10px;
}
