.email-heading {
  font-weight: 600;
  font-size: var(--font-md);
}

.addres-sub-heading {
  font-weight: 600;
  font-size: var(--font-18);
}

.email-para {
  font-weight: 400;
  font-size: var(--font-xs);
}

.sub-text {
  font-weight: 300;
  font-size: var(--font-xs);
}

.input-text {
  font-weight: 400;
  font-size: var(--font-xs);
  color: var(--color-45474b);
}

.send-msg-btn {
  font-weight: 500;
  font-size: var(--font-18);
  border-radius: 4px;
  border: 1px solid var(--color-127CF9);
  background: var(--color-127CF9);
  transition: 0.3s;
  padding: 9px 20px;
}

.send-msg-btn:hover {
  background-color: #ffffff;
  color: var(--color-127CF9) !important;
}

.form-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}

.input-border {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #16191e33;
  border-radius: 5px;
}

.input-border:focus-visible {
  outline: none;
}

.btn:focus {
  box-shadow: none !important;
}

@media (max-width: 575.98px) {
  .email-heading {
    font-size: 14px;
  }

  .addres-sub-heading {
    font-size: 14px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
  .height {
    height: calc(100vh - 62px);
  }
}

@media (max-width: 450px) {
  .send-msg-btn {
    width: 100%;
  }

  .cancel-btn {
    padding: 9.5px 26px;
  }

  .update-btn-2 {
    padding: 9.5px 26px;
  }
}

@media (min-width: 320px) and (max-width: 399.98px) {
  .form-box {
    border-radius: 0px;
    background: none;
    box-shadow: none;
  }

  .input-border {
    /* width: 303px !important; */
  }

  .send-msg-btn {
    width: 270px;
    padding: 5px 20px;
  }

  .us-contact {
    width: 303px;
  }
}
@media (min-width: 768px) {
  .contact-ellipse {
    white-space: nowrap;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.number-field-contact .form-control {
  padding: 14px;
  border: 1px solid rgba(22, 25, 30, 0.2);
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #75758b;
}
@media (max-width: 567px) {
  .number-field-contact .form-control {
    padding: 7px !important;
  }
}
.validation-text {
  font-size: 12px;
}
@media (max-width: 567px) {
  .contact-select .form-select {
    padding: 7px !important;
  }
}
.contact-border2 {
  border: 1px solid #16191e33;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 14px;
  cursor: pointer;
}
.number-field-contact .form-control:focus {
  box-shadow: 0 0 0 0.25rem transparent;
  border-color: rgba(22, 25, 30, 0.2) !important;
}

.number-field-contact .form-control::placeholder {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #75758b;
}
.contact-select .form-select {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #212529;
  padding: 14px;
  border-radius: 0px;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
}
.contact-select .css-1s2u09g-control {
  min-height: 54px;
}
.contact-select .css-1pahdxg-control {
  min-height: 54px;
}
.contact-select .css-6j8wv5-Input {
  color: #212529;
}
.contact-select .css-1pahdxg-control {
  border-color: rgba(22, 25, 30, 0.2);
  box-shadow: 0 0 0 1px rgba(22, 25, 30, 0.2);
}
.contact-select .form-select {
  -webkit-appearance: none !important;
  background-image: url("../../assets/img/dropdown.png");
  background-position: 20px;
}
.contact-select .form-select:focus {
  box-shadow: 0 0 0 0.25rem transparent;
  border-color: rgba(22, 25, 30, 0.2) !important;
}
.update-plan .form-check-input:focus {
  border-radius: 50%;
}
