@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /** Color use in all projects */
  --color-127CF9: #5cbd4c;
  --color-59A3FB: #16191e;
  --color-88BEFC: #4870b3;
  --color-B8D8FD: #ffffff;
  --color-f9f9f9: #f9f9f9;
  --color-44464A: #44464a;
  --color-16191e: #16191e;
  --color-16191E: #16191e;
  --color-E4E4E4: #e4e4e4;
  --color-45474b: #45474b;
  --color-D0D1D2: #d0d1d2;
  --color-ffffff: #ffffff;
  --color-cbcccd: #cbcccd;
  --color-16191e_08: #44474b;
  --color-44474b_08: #44474b;
  --color-5B5E61: #5b5e61;
  --color-16191e_07: #5b5d61;
  --color-16191e33: #16191e33;
  --color-16191eb7: #16191eb7;

  /** Font size use in all projects */
  --font-xxxl: 62px;
  --font-xxl: 49px;
  --font-48: 48px;
  --font-xl: 39px;
  --font-lg: 31px;
  --font-md: 25px;
  --font-22: 22px;
  --font-24: 24px;
  --font-35: 35px;
  --font-21: 21px;
  --font-28: 28px;
  --font-sm: 20px;
  --font-xs: 16px;
  --font-18: 18px;
  --font-15: 15px;
  --font-xxs: 14px;
  --font-13: 13px;
  --font-12: 12px;
  --font-11: 11px;
  --font-9: 9px;
}
.team-cards {
  box-shadow: 0px 0px 15px rgb(0 0 0 / 5%);
  border-radius: 5px;
  transform: 0.5s;
  cursor: pointer;
}
.cards-image {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.team-cards:hover {
  transform: translateY(-15px);
  transition: 0.5s;
}
.team-title {
  font-size: var(--font-md);
  font-weight: 500;
  color: var(--color-16191e);
}
.team-dec {
  font-size: var(--font-xs);
  font-size: 500;
  color: var(--color-16191e);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.contact-border {
  border: 1px solid #16191e33;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 12px;
  cursor: pointer;
}
.contact-text {
  color: #00000085;
}
